<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>MovieBookingApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
    
  <servlet>
  <servlet-name>Mba</servlet-name>
  <servlet-class>com.mba.Servlets.Mba</servlet-class>
  </servlet>
  
<servlet-mapping>

<servlet-name>Mba</servlet-name>
<url-pattern>/Mba</url-pattern>

</servlet-mapping>

  <servlet>
  <servlet-name>Bookingservlet</servlet-name>
  <servlet-class>com.mba.Servlets.Bookingservlet</servlet-class>
  </servlet>
  
<servlet-mapping>

<servlet-name>Bookingservlet</servlet-name>
<url-pattern>/Bookingservlet</url-pattern>

</servlet-mapping>



</web-app>